# Django secret key
DJANGO_SECRET_KEY=remember-to-add-a-long-random-secret-string-here
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# The websites domain
DJANGO_DOMAIN=localhost:8000

# Don't need to be set, but it is used to specify which database solution you want to go with. I use sqlite for development, and postgres for production.
DJANGO_DATABASE_ENGINE=postgres

# Swagger API Scheme
# Can be https or http 
DJANGO_API_SCHEME=http

# PostgreSQL configuration
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=long-secret-password


